<!DOCTYPE html>
<html lang="en">
<style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        }
    th, td {
        text-align: center;
        }
    table{
        margin-left: auto;
        margin-right: auto;
        }
    div {
        background-color: LightGrey;
        }
</style>
<head>
    <meta charset="UTF-8">
    <title>Your Shopping Cart</title>
</head>
<body>
    <b><font size="6">Buy a Product:</font></b>
    <form name = "Shopping Cart" method="post">
        <fieldset><legend></legend>
        <button name="Button" type="submit" value="Return">Go Back to Buying</button>
        <button name="Button" type="submit" value="Cancel">Cancel Order</button>
        <button name="Button" type="submit" value="Checkout">Confirm and Checkout</button>
    </fieldset>
    <fieldset>
        <table style="width:50%">
          <!-- table header -->
          {% if result_list %}
          <tr>
             {% for key in result_list[0] %}
             <th> {{ key }} </th>
             {% endfor %}
          </tr>
          {% endif %}

          <!-- table rows -->
          {% for dict_item in result_list %}
          <tr>
             {% for value in dict_item.values() %}
             <td> {{ value }} </td>
             {% endfor %}
          </tr>
          {% endfor %}
       </table>
    </fieldset>
    </form>

</body>
</html>